// Defines the look of a menu link
.menu-link{
  text-decoration:none;
  color:black;
  display:block;
  padding:1em;
  background:silver;
  &:hover{
    background:adjust-lightness(silver, -10);
  }
}

// Default styles for the nav UL
nav .menu {
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
  width:100%;
}

// Individual menu-items and their nested links
.menu-item{
  flex-shrink:0;
  &+.menu-item{
    margin-left:0.5em;
  }
  a{
    @extend .menu-link;
  }
}  

.menu-toggle {
  @extend .menu-link;
  cursor:pointer;
  display:none;
}


// What goes on when the container is .too-small??

//Show the menu-toggle
.too-small .menu-toggle {
  display:block;
}

// stack the menu-items with flex-direction
// and collapse the list
.too-small ul {
  flex-direction:column;
  max-height:0;
  overflow:hidden;
  transition: 0.5s;
}

// Remove margins
.too-small .menu-item{
  margin:0;
}


// Then we do this when the menu .is-open...

// allow the menu to grow to a max-height (this allows the CSS animation to work)
.too-small.is-open ul {
  max-height:60em;
  transition: 1s;
}
