.menu-link,
.menu-item a,
.menu-toggle {
  text-decoration: none;
  color: black;
  display: block;
  min-width: min-content;
  padding: 1em;
  background: silver;
}
.menu-link:hover,
.menu-item a:hover,
.menu-toggle:hover {
  background: #a7a7a7;
}

nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.menu-item + .menu-item {
  margin-left: 0.5em;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.too-small .menu-toggle {
  display: block;
}

.too-small ul {
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.too-small .menu-item {
  margin: 0;
}

.too-small.is-open ul {
  max-height: 60em;
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  padding: 2em;
  line-height: 1.4;
}

header {
  border-bottom: solid thin;
  margin-bottom: 1em;
}

.report {
  position: relative;
  color: white;
  background: black;
  padding: 1em;
  border: solid thin black;
}
.report:before {
  display: block;
  padding: 0 0 0.5em;
  content: "Bags of room... ";
}

.too-small + .report {
  background: red;
  -webkit-animation: alert 0.5s infinite;
  animation: alert 0.5s infinite;
  border: solid thin red;
}
.too-small + .report:before {
  content: "TOO SMALL!";
}

.menu-container {
  border: solid;
  margin: 2rem 0;
  padding: 1rem;
  background-color: aliceblue;
}

@-webkit-keyframes alert {
  0% {
    background: red;
    color: white;
  }
  49% {
    background: red;
    color: white;
  }
  50% {
    background: white;
    color: red;
  }
  100% {
    background: white;
    color: red;
  }
}

@keyframes alert {
  0% {
    background: red;
    color: white;
  }
  49% {
    background: red;
    color: white;
  }
  50% {
    background: white;
    color: red;
  }
  100% {
    background: white;
    color: red;
  }
}
